[bumpversion]
current_version = 0.0.1
commit = True
message = release {new_version}
tag = False
tag_name = {new_version}

[bumpversion:file:setup.py]

[bumpversion:file:src/stan_code_helper/__init__.py]
